@import url(./normalize.css);

:root {
    --main-font-size: 18px;
    --gray-background-color: #F6F6F6;
    --white-background-color: #FFFFFF;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--main-font-size);
}

.container {
    width: 970px;
    margin: 0 auto;
}

.gray-background {
    background-color: var(--gray-background-color);
}

.container-with-padding {
    padding: 100px 0;
}

.header {}

.nav {
    border-bottom: 1px solid #828282;
    padding: 28px 15px;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    margin: 0;
    gap: 40px;
}

.menu_link {
    text-decoration: none;
    color: #828282;
    transition: color 0.3s;
}

.menu_link:hover {
    color: #070707;
}

#home {
    margin-top: 12px;
}

#title_name {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
}

#avatar {
    margin-top: 50px;
    width: 970px;
}

.container-about {
    width: 480px;
    margin: 50px auto 100px auto;
}

h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

p {
    text-align: center;
}

.star_point,
.social_item {
    display: inline-block;
    vertical-align: top;
}

.social_item {
    margin-right: 40px;
}

.star_point:last-child,
.social_item:last-child {
    margin-right: 0;
}

.skill_block {
    display: inline-block;
    vertical-align: top;
    margin-right: 97px;
}

.skill_block:last-child,
.social_item:last-child {
    margin-right: 0;
}

.skill_img {
    height: 80px;
    display: block;
    margin: 0 auto;
}

.star_img {
    height: 26px;
    width: 26px;
}

.skill_name {
    font-size: 14px;
    margin: 25px 0 60px 0;
}

.menu_skills {
    margin: 50px 0 100px 0;
    padding-left: 0;
    gap: 40px;
}

.stars {
    padding-left: 0;
    list-style: none;
}

#last_stars {
    padding-top: 16px;
}

.portfolio_list {
    padding-top: 50px;
    padding-left: 0;
    list-style: none;
}

.portfolio_description {
    margin-top: 40px;
    text-decoration: underline;
}

.portfolio_item {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 70px;
}

.portfolio_item:last-child {
    margin-bottom: 0;
}

#contacts {
    text-align: center;
}

#contacts > * {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

#contacts > *:last-child {
    margin-bottom: 0;
}

.contacts_text {
    margin-top: 20px;
}

.socials {
    margin-top: 30px;
    margin-bottom: 0;
    padding-left: 0;
}

.social_img {
    width: 40px;
    height: 40px;
}

#send_btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 999px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

#send_btn:hover {
    background-color: #333;
}

#send_btn:active {
    transform: scale(0.95);
}

.social-text {
    font-size: 14px;
    color: #828282;
}